.navbar {
    background-color: white;
}

.navbar li {
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: black;
    transition: 0.5s ease-in;
}